*.bkp
private
private.txt
private.rst
private.html
build/doctrees
bin
obj
tmp

# Temporarily disabling the following until I move the directories to another
# place or delete them
#
## code
laziness
observable
hello-world
## categories
notes
# people
# talks